---
import Layout from '../../layouts/Layout.astro';
import { ui } from '../../i18n/ui';
import TechStack from '../../components/TechStack.astro';
import ProjectsList from '../../components/ProjectsList.astro';
import SocialLinks from '../../components/SocialLinks.astro';

const lang = 'en';
const t = ui[lang];
---

<Layout title="LWBaleeiro | Backend Developer">
	<main class="flex-1 flex flex-col items-center p-4 md:p-8">
		<div class="max-w-5xl w-full space-y-16 text-center mt-12 md:mt-20">
			<div class="space-y-6">
				<h1 class="text-5xl md:text-7xl font-bold bg-gradient-to-r from-tokyo-blue to-tokyo-purple bg-clip-text text-transparent pb-2">
					{t['hero.title']}
				</h1>
				<p class="text-xl md:text-2xl text-tokyo-comment max-w-2xl mx-auto">
					{t['hero.subtitle']}
				</p>
                
                <SocialLinks />
                
                <div class="pt-8">
                    <TechStack />
                </div>
			</div>
			
			<div class="space-y-8 text-left">
                <h2 class="text-3xl font-bold text-tokyo-fg border-b border-tokyo-comment/20 pb-4">
                    {t['card.projects.title']}
                </h2>
                <ProjectsList />
			</div>
		</div>
	</main>
</Layout>
